@charset "utf-8";
div.ProcUnitHorizBar3R {
  height: 50px;
  border-bottom: 1px solid #ececec;
  display: flex;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  z-index: 2;
  position: relative;
}
div.ProcUnitHorizBar3R > div[class*="Inner"] {
  height: 100%;
  display: flex;
  align-items: center;
}
div.ProcUnitHorizBar3R > div.InnerLogo3R {
  width: 180px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
}
div.ProcUnitHorizBar3R > div.InnerLogo3R img {
  max-width: 180px;
  max-height: 34px;
}
div.ProcUnitHorizBar3R > div.Inner3R {
  flex: 1;
  justify-content: flex-end;
}
div.ProcUnitHorizBar3R > div.Inner3R > div.InnerBtn3R {
}
div.ProcUnitHorizBar3R > div.Inner3R > div.InnerBtn3R > a {
  cursor: pointer;
  margin-right: 26px;
}
div.ProcUnitHorizBar3W {
  height: 50px;
  display: flex;
  align-items: center;
}
div.ProcUnitMain3R {
  min-height: calc(100vh - 52px);
  display: flex;
}
div.ProcUnitMain3R > div.InnerMenu3R {
  min-width: 200px;
  background-color: #eaedf1;
}
div.ProcUnitMain3R > div.InnerMenu3R > div.ProcUnitHorizBar3W {
}
div.ProcUnitMain3R
  > div.InnerMenu3R
  > div.ProcUnitHorizBar3W
  > a.InnerTitle3R {
  margin-left: 20px;
  font-size: medium;
  font-weight: 600;
}
div.ProcUnitMain3R > div.InnerRight3R {
  flex: 1;
  width: calc(100% - 200px);
}
div.ProcUnitMain3R > div.InnerRight3R div.ProcUnitHorizBar3W {
  background-color: #f5f6f8;
}
div.ProcUnitMain3R
  > div.InnerRight3R
  div.ProcUnitHorizBar3W
  a.InnerBtn3R {
  font-size: 16px;
  color: #7c849b;
  padding: 0 17px 0 17px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}
div.ProcUnitMain3R
  > div.InnerRight3R
  div.ProcUnitHorizBar3W
  a.InnerBtn3R:hover {
  color: #434963;
  background-color: #eaedf1;
}
div.ProcUnitMain3R > div.InnerRight3R div.ProcUnitHorizBar3W.AM04Bottom3R {
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: calc(100% - 200px);
}
div.ProcUnitMain3R > div.InnerRight3R > div.ProcUnitWorkbench3R {
  /* width: calc(100% - 20px); */
  width: 100%;
  height: calc(100vh - 171px);
  overflow: auto;
  padding-bottom: 70px;
  position: relative;
}